<div class="z-30 w-full absolute">
  <app-header />
</div>
<div class="h-svh">
  <div class="z-20 absolute w-full">
    <div class="h-svh flex items-center justify-center flex-col">
      <div class="text-white flex items-center justify-center flex-col 2xl:top-28 2xl:absolute md:p-8">
        <div class="flex items-end">
          <h1 class="m-0 text-4xl font-semibold">{{dates | date : 'HH:mm'}}</h1>
          <p class="m-0">{{dates | date : 'a'}}</p>
        </div>
        <h1 class="m-0"> {{dates | date : 'EEE d MMMM' : '' : 'en-US'}}</h1>
      </div>
      <div class="w-full 2xl:h-2/5 md:h-80 flex items-center justify-center">
        <div class="w-full h-full flex justify-evenly">
          <div class="w-1/4">
            <app-card-tempo />
          </div>
          <div class="w-2/3">
            <app-card-infos />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full h-full backdrop-blur-sm bg-black/10 absolute"></div>
  <img class="w-full h-full" src="assets/nuvens.jpg" alt="" />
</div>
